[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[user]
	name = Łukasz Barczyński
	email = barczynski.lukasz@gmail.com
[init]
	defaultBranch = main
